<div class="page-header">
  <h1>Nova matricula</h1>
</div>
<%= simple_form_for @classroom do |f| %>
  <%= f.association :student, label: 'Aluno' %>
  <%= f.association :course, label: 'Curso' %>
  <%= f.button :submit, 'Cadastrar Matricula' %>
<% end %>
