<div class="row">
  <% if flash[:notice] %>
    <div class="notice bg-success"><%= flash[:notice] %></div>
  <% end %>
  <div class="page-header">
    <h1>Lista de alunos</h1>
  </div>
  <br>
  <% @students.each do |student| %>
    <div class="student col-md-6">
      <p><strong>Name: </strong><%= student.name %></p>
      <p><strong>Numero de registro: </strong><%= student.register_number %></p>
      <p><strong>Status: </strong><%= student.status %></p>
    </div>
  <% end %>
</div>
